<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="39ee7521-c894-48b0-a523-ef4075ef225a" Alias="blog" Level="1">
  <Info>
    <Name>Blog</Name>
    <Icon>icon-list color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Blog</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="3be68919-6f73-4194-9ede-dd36abe5b217">Blog</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="e8aa96cd-7710-49e0-99bc-be563fe5527e" SortOrder="0">article</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>