<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="277b4663-b11e-4732-9400-ed2ac97671ea" Alias="blogCategory" Level="2">
  <Info>
    <Name>Blog Category</Name>
    <Icon>icon-folder-outline color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>BlogCategory</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="9033390e-c2a3-4be4-949d-60277416bbe6">BlogCategory</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>