<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="07b488de-e489-4748-b2ff-0d8a01eddde8" Alias="events" Level="2">
  <Info>
    <Name>Events</Name>
    <Icon>icon-calendar-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>Events</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="69a29718-203d-4292-9eef-ac814c19764c">Events</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="091dcd24-cc84-475a-acac-1d45d6b1e6fc" SortOrder="0">event</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>