<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="21586fcc-fcd6-4a55-b3f4-b8242ef01c1b" Alias="home" Level="2">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="887545e5-640e-4781-80ed-983db0403318">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="39ee7521-c894-48b0-a523-ef4075ef225a" SortOrder="0">blog</ContentType>
    <ContentType Key="07b488de-e489-4748-b2ff-0d8a01eddde8" SortOrder="1">events</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>